absl-py==1.4.0
altair==5.1.1
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.15.6
asttokens==2.1.0
astunparse==1.6.3
attrs==23.1.0
awscli==1.32.11
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.6.2
boto3==1.34.16
botocore==1.34.16
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.0.1
click==8.1.7
colorama==0.4.4
contextlib2==21.6.0
contourpy==1.1.0
cycler==0.10.0
Cython==3.0.7
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.7
docutils==0.16
entrypoints==0.4
executing==1.2.0
fastjsonschema==2.16.2
filelock==3.13.1
fire==0.5.0
flatbuffers==23.5.26
fonttools==4.42.1
fsspec==2023.12.2
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.37
google-auth==2.26.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.57.0
h5py==3.9.0
hub-sdk==0.0.3
huggingface-hub==0.20.2
idna==2.10
importlib-metadata==6.11.0
ipykernel==6.17.1
ipython==8.6.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
isort==5.12.0
jaraco.classes==3.3.0
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonschema==4.17.0
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-server==1.23.2
jupyter_client==7.4.6
jupyter_core==5.0.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
keras==2.15.0
keyring==24.3.0
kiwisolver==1.4.4
labelImg==1.8.6
lapx==0.5.5
lazy-object-proxy==1.9.0
libclang==16.0.6
lxml==5.1.0
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mistune==2.0.4
ml-dtypes==0.2.0
more-itertools==10.2.0
mpmath==1.3.0
nbclassic==0.4.8
nbclient==0.7.0
nbconvert==7.2.5
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==3.2.1
nh3==0.2.15
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.24.3
oauthlib==3.2.2
opencv-python==4.7.0.72
opencv-python-headless==4.8.0.74
opt-einsum==3.3.0
orjson==3.8.5
packaging==23.1
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.5.0
pkginfo==1.9.6
platformdirs==3.10.0
plotly==5.18.0
prometheus-client==0.15.0
prompt-toolkit==3.0.32
protobuf==3.20.3
psutil==5.9.4
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybboxes==0.1.6
pycocotools @ git+https://github.com/philferriere/cocoapi.git@2929bd2ef6b451054755dfd7ceb09278f935f7ad#subdirectory=PythonAPI
pycodestyle==2.11.0
pycparser==2.21
pydeck==0.8.1b0
pygame==2.1.3.dev8
Pygments==2.16.1
pylint==2.17.5
pyparsing==3.0.9
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyrsistent==0.19.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-magic==0.4.27
pytz==2023.3.post1
pywin32==305
pywin32-ctypes==0.2.2
pywinpty==2.0.9
PyYAML==6.0.1
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
readme-renderer==42.0
referencing==0.30.2
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.5.3
roboflow==1.1.16
rpds-py==0.10.3
rsa==4.7.2
s3transfer==0.10.0
sahi==0.11.15
scikit-learn==1.3.0
scipy==1.11.2
seaborn==0.12.2
Send2Trash==1.8.0
shapely==2.0.2
six==1.16.0
sklearn==0.0.post1
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.3.2.post1
stack-data==0.6.1
streamlit==1.27.0
supervision==0.17.1
sympy==1.12
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.1
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io==0.31.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-object-detection-api==0.1.1
tensorflow-serving-api==2.14.1
termcolor==2.3.0
terminado==0.17.0
terminaltables==3.1.10
tf-slim==1.1.0
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tinycss2==1.2.1
toml==0.10.2
tomlkit==0.12.1
toolz==0.12.0
torch==2.1.2
torchvision==0.16.2
tornado==6.3.3
tqdm==4.66.1
traitlets==5.5.0
tweepy==4.12.1
twine==4.0.2
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==5.0.1
ultralytics==8.1.2
urllib3==2.0.7
validators==0.22.0
watchdog==3.0.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
weepy==1.2.0
Werkzeug==2.3.7
widgetsnbextension==4.0.3
wrapt==1.14.1
yolov5==7.0.13
zipp==3.17.0
